@use '/src/assets/styles/abstract' as a;

.pricing-slider {
  grid-area: 1/2;
  justify-self: center;
  display: grid;
  justify-content: center;
  background-color: white;
  border-radius: 0.5rem;

  &__section-top {
    display: grid;
    gap: 2rem;
    padding: 2.25rem 1.5rem;

    @include a.breakpoint(medium) {
      padding: 2.5rem 3rem;
    }
  }

  &__section-bottom {
    display: grid;
    justify-items: center;
    gap: 2rem;
    padding: 2rem 2.75rem;

    @include a.breakpoint(medium) {
      grid-template: 1fr / repeat(2, 1fr);
      align-items: center;
    }
  }

  &__slider {
    display: grid;
    justify-items: center;
    gap: 1.5rem;
    grid-template-rows: repeat(3, max-content);

    @include a.breakpoint(medium) {
      grid-template: max-content max-content / 1fr 1fr;
    }
  }

  &__page-views {
    grid-area: 1/1;
    align-self: center;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 0.10713rem;
    text-transform: uppercase;
    color: a.$clr-secondary-color-grayish-blue;
    
    @include a.breakpoint(medium) {
      font-size: 0.875rem;
      letter-spacing: 0.125rem;
    }
  }

  &__rate {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    grid-area: 3/1;
    color: a.$clr-secondary-color-grayish-blue;

    @include a.breakpoint(medium) {
      grid-area: 1/2;
    }
  }

  &__cost {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -0.05rem;
    color: a.$clr-secondary-color-dark-desaturated-blue;

    @include a.breakpoint(mediun) {
      font-size: 2.5rem;
    }
  }

  &__range-container {
    grid-area: 2/1;
    width: 100%;

    @include a.breakpoint(medium) {
      grid-area: 2 / 1 / 2 / 3;
    }
  }

  &__range {

  }

  &__plan {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    color: a.$clr-secondary-color-grayish-blue;

    @include a.breakpoint(medium) {
      justify-content: flex-end;
    }

    & > * {
      font-size: 0.75rem;
    }
  }

  &__yearly {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    & > * {
      font-size: 0.75rem;
    }
  }

  &__discount-container {
    align-self: center;
    padding: 0.1rem 0.5rem;
    font-weight: 800;
    color: a.$clr-primary-color-light-red;
    background-color: a.$clr-primary-color-light-grayish-red;
    border-radius: 1rem;
  }

  &__discount {
    display: none;

    @include a.breakpoint(medium) {
      display: inline;
    }
  }

  &__feature-list {
    display: grid;
    justify-items: center;
    gap: 0.7rem;
    text-align: center;

    @include a.breakpoint(medium) {
      justify-items: flex-start;
    }
  }

  &__feature {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  &__feature-text {
    font-size: 0.75rem;
    color: a.$clr-secondary-color-grayish-blue;
  }
}