@use '/src/assets/styles/abstract/index' as a;

.header {
  width: 100%;
  margin-top: -2rem;
  padding: 2rem;
  background: url('/images/pattern-circles.svg') no-repeat center;
  background-size: auto 100%;

  &__content {
    grid-area: 1/2;
    display: grid;
    justify-items: center;
    gap: 1rem;
    text-align: center;
  }
  
  &__header {
    text-align: center;
    color: a.$clr-secondary-color-dark-desaturated-blue;
  }
  
  &__body {
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.8;
    color: a.$clr-secondary-color-grayish-blue;
    
    @include a.breakpoint(medium) {
      font-size: 0.9375rem;
    }
  }
}