@use '/src/assets/styles/abstract' as a;

.home {
  display: grid;
  align-content: center;
  gap: 4rem;
  min-height: 100vh;
  background: url('/images/bg-pattern.svg') no-repeat top center a.$clr-secondary-color-very-pale-blue;
  background-size: 100% 50%;
}