// Colors

// Main Colors

// Primary Colors
$clr-primary-color-soft-cyan: hsl(174, 77%, 80%);
$clr-primary-color-strong-cyan: hsl(174, 86%, 45%);
$clr-primary-color-light-grayish-red: hsl(14, 92%, 95%);
$clr-primary-color-light-red: hsl(15, 100%, 70%);
$clr-primary-color-pale-blue: hsl(226, 100%, 87%);

// Secondary Colors
$clr-secondary-color-very-pale-blue: hsl(230, 100%, 99%);
$clr-secondary-color-light-grayish-blue-100: hsl(224, 65%, 95%);
$clr-secondary-color-light-grayish-blue-200: hsl(223, 50%, 87%);
$clr-secondary-color-grayish-blue: hsl(225, 20%, 60%);
$clr-secondary-color-dark-desaturated-blue: hsl(227, 35%, 25%);

// Neutrals
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
